<ul class="omw-content-list__articles">
{% for item in items %}
  <li>
    <article class="omw-content-list__article">
      <h1 class="title is-1 omw-content-list__article-title"><a href="{{item.url}}">{{item.title}}</a></h1>
      {% if item.subtitle %}
      <h2 class="subtitle is-3 omw-content-list__article-subtitle">{{item.subtitle}}</h2>
      {% endif %}
      {% if item.summary %}
      <p class="omw-content-list__article-summary">{{item.summary}}</p>
      {% else %}
      <p class="omw-content-list__article-summary">{{item.body | truncate(180, false, "...") | safe }}</p>
      {% endif %}
    </article>
  </li>
{% endfor %}
</ul>
