<!DOCTYPE html>
<html lang="en">
<head data-gincb="{{gin.cacheBuster}}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{gin.site.description}}">
  <title>{% block title %}{{gin.site.name}}{% endblock %}</title>
  <link rel="icon" type="image/png" href="{{asset('/img/favicon.ico')}}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Open+Sans+Condensed:300|Quicksand" media="screen" charset="utf-8">
  <link rel="stylesheet" href="{{asset('css/main.css')}}">
  <link rel="canonical" href="{{url()}}">
  {{ head() | safe}}
</head>
<body class="home">
<header class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-desktop is-centered">
        <div class="column has-text-centered">
          <a href="/">
            <img class="omw-quart__home" src="{{asset('img/quart-400x376.png')}}" alt="For the word-lovers.">
          </a>
          {% block header %}{% endblock %} 
        </div>
      </div>
    </div>
  </div>
  <nav class="nav">
    {{ nav("primary") | safe}}
  </nav>
</header>
<section class="section">
  <div class="container">
    <section id="primary-content" class="content homepage">
      <div class="columns">
        <div class="column has-text-centered">
          <a href="https://twitter.com/ohMyWordxyz" target="_blank" title="Follow us on Twitter">
            <i class="omwicon-twitter"></i>
          </a>
          <a href="https://www.facebook.com/ohMyWordxyz" target="_blank" title="Follow us on Facebook">
            <i class="omwicon-facebook"></i>
          </a>
          <a href="mailto:contact@ohmyword.xyz" target="_blank" title="Send us your words">
            <i class="omwicon-email"><i>
          </i></i></a>
        </div>
      </div>
      <div class="columns is-desktop is-centered">
        <div class="column is-11-tablet is-7-desktop">
          {% block content %} Nothing to see here {% endblock %}
        </div>
      </div>
    </section>
  </div>
</section>

{% include "partials/footer.html" %}

</body>
</html>
